html {
	height: 100%;
}

body {
	background-color: #13E8AE;
}

input {
	padding: 10px;
	font-size: 12px;
	width: 50%;
	height: 10%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
}

input[type=text]:focus {
  background-color: #f7c5cd;
}

button {
	height: 50px;
	width: 90px;
	background: none; /* Removes default background */
	color: #313131;
	border: 1px solid #313131;
	border-radius: 50px;
	font-size: 20px;
	cursor: pointer;
}

.middle{

	text-align: center;
	float: left;
	margin: 0 1.5%;
}

ul {
  text-align: left;
  list-style: inside;
}

.right{
	background-color: pink
	float: right;
	display: inline-block;
	height: 100%;
	position: absolute;
	text-align:center

}

#walk{
	display: none
}

#eat{
	display: none;
}

.big{
	font-size: 25px
}

.statistics{
	font-size: 20px
}

.average{
	font-size: 15px
}

.upper{
	background-color: #71FDC5
}

.items{
	border-radius: 50px;
	font-size: 20px;
	height: 110px;
	width: 110px;
	background-color: lightgray
}
#item-1{
	display: none;
	width: 590px;
	left: 80px;
	top: 180px;

}
#item-2{
	display:none;
	left: 100px;
	top: 250px;
}
#item-3{
	display:none;
	left: 150px;
	top: 210px;
}
#item-4{
	display:none;
	left: 150px;
	top: 210px;

}
#item-5{
	display:none;
	left: 5px;
	top: 230px;
}
.acessories{
	width: 450px;
	position: absolute;
}

.v{
	width: 700px;
}
